<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BruTile" version="4.0.0" targetFramework="net48" />
  <package id="Fizzler" version="1.2.0" targetFramework="net48" />
  <package id="HarfBuzzSharp" version="2.6.1.7" targetFramework="net48" />
  <package id="Mapsui" version="3.0.2" targetFramework="net48" />
  <package id="Mapsui.Wpf" version="3.0.2" targetFramework="net48" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="SharpGIS.NmeaParser" version="2.2.0" targetFramework="net472" />
  <package id="ShimSkiaSharp" version="0.5.7.1" targetFramework="net48" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net48" />
  <package id="SkiaSharp.HarfBuzz" version="2.80.2" targetFramework="net48" />
  <package id="SkiaSharp.Svg" version="1.60.0" targetFramework="net472" />
  <package id="SkiaSharp.Views" version="1.68.2.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.80.2" targetFramework="net48" />
  <package id="SkiaSharp.Views.Gtk2" version="1.68.2.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.WindowsForms" version="1.68.2.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.WPF" version="2.80.2" targetFramework="net48" />
  <package id="Svg.Custom" version="0.5.7.1" targetFramework="net48" />
  <package id="Svg.Model" version="0.5.7.1" targetFramework="net48" />
  <package id="Svg.Skia" version="0.5.7.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Topten.RichTextKit" version="0.4.145" targetFramework="net48" />
  <package id="WinSCP" version="5.19.2" targetFramework="net48" />
</packages>